@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.top{
    color: #007bff;
    font-size: 42px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
}
.wrapper {
  margin: 100px auto;
  max-width: 1100px;
}
.wrapper nav {
  display: flex;
  justify-content: center;
}
.items {
  display: flex;
  max-width: 720px;
  width: 100%;
  justify-content: space-between;
}
.items span {
  padding: 7px 25px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #007bff;
  border-radius: 50px;
  border: 2px solid #007bff;
  transition: all 0.3s ease;
}
.items span.active,
.items span:hover {
  color: #fff;
  background: #007bff;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.gallery .image {
  width: 25%;
  padding: 7px;
}
.gallery .image span {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: all 0.3s ease;
  background-color: #f4f4f4;
  padding: 5px;
}
.gallery .image:hover img {
  transform: scale(1.1);
}
.gallery .image.hide {
  display: none;
}
.gallery .image.show {
  animation: animate 0.4s ease;
}
@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.preview-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 500px;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.preview-box.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.preview-box .details {
  padding: 13px 15px 13px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details .title {
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p {
  font-weight: 500;
  margin-left: 5px;
}
.details .icon {
  color: #007bff;
  font-size: 22px;
  cursor: pointer;
}
.preview-box .image-box {
  width: 100%;
  display: flex;
}
.image-box img {
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.4);
}
.shadow.show {
  display: block;
}
